{% extends "base.html.twig" %}
{% block title 'Gestion des étudiant' %}
{% block body %}

    <div class="container" style="background-color: white; border: solid 1px silver; border-radius: 5px">
        <h1>Enregistrer étudiant</h1>
    </div>


{% endblock %}